@charset "utf-8";

body{
    font-family: 'Kosugi Maru', sans-serif;
    background-color: rgb(41, 40, 40);
    color: white;
    text-align: center;
}

.header{
    display:flex;
    background-color: rgb(42, 255, 42);
    height:80px;
    padding: 5px;
    font-weight: bold;
    color: black;
    align-items: center;
}

h1.title{
    background-color: rgb(42, 255, 42);
    color: black;
    font-size: 90px;
    padding: 90px;
    width: 700px;
    margin: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 30px;
}

.header_h1{
    font-size: 45px;
    text-align: left;
    margin-left: 80px;
}

.title_button{
    background-color : #d9d7d7;
    font-weight: bold;
    font-size: 30px;
    height: 60px;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.title_button:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    opacity: 0.6;
}

input{
    color:white;
}

.label{
    text-align: right;
}

input.text{
    background-color: white;
    color: black;
    padding: 10px;
    width:450px
}

input.button{
    background-color : #d9d7d7;
    color: black;
    font-weight: bold;
    height: 50px;
    width: 200px;
    margin: 30px;
}

input.button:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    opacity: 0.6;
}

.form_content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

table{
    margin: 50px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-spacing: 0px 40px;    
    font-size: 30px;
}
